<% content_for :landing_nav do %>
  <%= render "posturacorretta/header" %>
<% end %>

<div id="progetti-section" class="bg-white text-slate-900 antialiased">
  <% @page_data['components']&.each do |component| %>
    <%= render "components/builder",
               component: component,
               context: { "projects" => @projects } %>
  <% end %>
</div>
