<% content_for :landing_nav do %>
  <%= render "posturacorretta/header" %>
<% end %>

<div class="bg-white text-slate-900 antialiased">
  <%= render "components/project_detail", project: @project %>
</div>
