<% content_for :landing_nav do %>
  <%= render "posturacorretta/header" %>
<% end %>

<div id="top" class="text-slate-900 antialiased">
  <%= render "landing/accademia_curriculum" %>
  <%= render "posturacorretta/footer" %>
</div>
