<% content_for :landing_nav do %>
  <%= render "posturacorretta/header" %>
<% end %>

<div id="top" class="bg-white text-slate-900 antialiased" data-posturacorretta-home>
  <main class="pb-16 lg:pb-24">
    
    <% @home_data['components'].each do |component| %>
      <%= render "components/builder",
                 component: component,
                 context: { "audiences" => @audiences } %>
    <% end %>

  </main>

  <%= render "posturacorretta/footer" %>
</div>
