<dl class="mt-8 grid grid-cols-1 gap-4 sm:grid-cols-3">
  <div class="flex flex-col rounded-lg border border-gray-100 px-4 py-8 text-center bg-white shadow-sm">
    <dt class="order-last text-xs font-medium text-gray-500 mt-2 tracking-widest uppercase">Progetti attivi</dt>
    <dd class="text-3xl font-extrabold text-indigo-600 md:text-4xl" id="activeCount">0</dd>
  </div>

  <div class="flex flex-col rounded-lg border border-gray-100 px-4 py-8 text-center bg-white shadow-sm">
    <dt class="order-last text-xs font-medium text-gray-500 mt-2 tracking-widest uppercase">Risorse raccolte</dt>
    <dd class="text-3xl font-extrabold text-indigo-600 md:text-4xl" id="fundedTotal">€ 0</dd>
  </div>

  <div class="flex flex-col rounded-lg border border-gray-100 px-4 py-8 text-center bg-white shadow-sm">
    <dt class="order-last text-xs font-medium text-gray-500 mt-2 tracking-widest uppercase">Ricavi prev. / anno</dt>
    <dd class="text-3xl font-extrabold text-indigo-600 md:text-4xl" id="revenueTotal">€ 0</dd>
  </div>
</dl>
